@page
@model FlightPlan.WebSite.Pages.Flights.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Flight.DepartureAirportId" class="control-label"></label>
                <select asp-for="Flight.DepartureAirportId" class ="form-control" asp-items="ViewBag.DepartureAirportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Flight.ArrivalAirportId" class="control-label"></label>
                <select asp-for="Flight.ArrivalAirportId" class ="form-control" asp-items="ViewBag.ArrivalAirportId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Flight.PlaneId" class="control-label"></label>
                <select asp-for="Flight.PlaneId" class ="form-control" asp-items="ViewBag.PlaneId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
